<!DOCTYPE html>
<html>

<head>
  <title>Blog Post</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blog.css') }}">
</head>

<body>
  <div class="container">
    <div class="main">
      <div class="title">
        <h1>{{ title }}</h1>
      </div>
      <div class="intro">
        <h2>Introduction</h2>
        <pre>{{ intro }}</pre>
      </div>
      <div class="body">
        <h2>Body</h2>
        <pre>{{ body }}</pre>
        {% if image_url %}
        <img src="{{ image_url }}" alt="Blog Post Image">
        {% endif %}
      </div>
      <div class="conclusion">
        <h2>Conclusion</h2>
        <pre>{{ conclusion }}</pre>
      </div>
    </div>
    <div class="buttons">
      <div class="generate-another beautiful-button">
        <a href="/">Generate Another</a>
      </div>
      {% if pdf_ready %}
      <form action="{{ url_for('routes.download', filename=pdf_filename) }}" method="get">
        <button type="submit" class="generate-another beautiful-button">Download PDF</button>
      </form>
      {% endif %}
    </div>
  </div>
</body>

</html>